<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdc.anniversary.mapper.AnniversaryMapper">
    <insert id="addAnniversary" parameterType="Anniversary">
        insert into anniversary(user_id,title, icon, pubdate,remind_date,note,img)
        values (#{userId}, #{title}, #{icon}, #{pubdate},#{remindDate},#{note},#{img})
    </insert>
</mapper>
