<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdc.anniversary.mapper.CommentMapper">
    <select id="getComment" parameterType="int" resultType="com.cdc.anniversary.model.Comment">
        select x.*
        from comment x
        where x.share_id = #{id}
    </select>
    <insert id="addComment" parameterType="com.cdc.anniversary.model.Comment">
        insert into comment (share_id,user_id,parent_id,content,pubdate)
        values (#{share_id},#{user_id},#{parent_id},#{content},#{date})
    </insert>
</mapper>