<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdc.anniversary.mapper.ShareMapper">
    <select id="getStatus" resultType="Status">
        select * from share_status
        where share_id = #{param1} and user_id = #{param2}
    </select>

    <select id="getImages" parameterType="int" resultType="String">
        select img from share_img
        where share_id = #{shareid}
    </select>

    <select id="getAllShare" resultType="com.cdc.anniversary.dto.ShareDTO">
        select * from share
    </select>

    <select id="getShareByTag" parameterType="String" resultType="com.cdc.anniversary.dto.ShareDTO">
        select * from share
        where tag = #{tag}
    </select>

    <select id="getShareById" resultType="com.cdc.anniversary.dto.ShareDTO">
        select * from share
        where id = #{shareid}
    </select>

    <insert id="addShare" parameterType="Share">
        insert into share(user_id, tag, content, favor_num, collect_num, comment_num, pubdate)
        values (#{user_id}, #{tag}, #{content}, #{favor_num}, #{collect_num}, #{comment_num}, #{pubdate})
    </insert>

    <select id="getMyShare" parameterType="int" resultType="com.cdc.anniversary.dto.ShareDTO">
        select * from share
        where user_id = #{userid}
    </select>
    
    <select id="getFavorNum" parameterType="int" resultType="int">
        select favor_num from share
        where id = #{shareId}
    </select>

    <update id="updateFavorNum">
        update share
        set favor_num = #{param1}
        where id = #{param2}
    </update>

    <select id="getCollectNum" parameterType="int" resultType="int">
        select collect_num from share
        where id = #{shareId}
    </select>

    <update id="updateCollectNum">
        update share
        set collect_num = #{param1}
        where id = #{param2}
    </update>

    <select id="getCommentNum" parameterType="int" resultType="int">
        select comment_num from share
        where id = #{shareId}
    </select>

    <update id="updateCommentNum">
        update share
        set comment_num = #{param2}
        where id = #{param1}
    </update>
</mapper>
