<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdc.anniversary.mapper.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into user(username, avatar, gender, phone,integration)
        values (#{name}, #{avater}, #{gender}, #{phone}, #{integration})
    </insert>

</mapper>
