<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdc.anniversary.mapper.UserMapper">
    <update id="UseIntegration" parameterType="int">
        update user set integration =integration-#{integration}
    </update>

</mapper>